/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos para el contenedor principal*/
#app {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*Estilos para el formulario*/ 
form {
    display: flex;
    justify-content: space-between;
}


input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 5px 8px; 
     background-color: #007bff;
     color:  white;
     border: none;
     border-radius: 3px;
     cursor: pointer;
     text-shadow: 1px 1px 2px #000000;
}


ul{
    list-style: none;
    padding: 0;
}


li {
    background-color: rgb(16, 89, 125);
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li.completed {
    text-decoration: line-through;
    color: #888;
}
.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
   
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 25%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 45px;
    height: 45px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(4){
    width: 10px;
    height: 10px;
    left: 50%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(5){
    width: 65px;
    height: 65px;
    left: 75%;
    animation-duration: 3s;
    animation-delay: 4s;
}
.burbuja:nth-child(6){
    width: 75px;
    height: 75px;
    left: 80%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(7){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}.burbuja:nth-child(9){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(10){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
     transform: translateX(30px);
    }
    50%{
    opacity: .4;
    }
    100%{
    bottom: 100vh;
    opacity: 0;
  }
}